<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Syntax School Management Software</title>
	<script src="https://alxproject.virilesoftware.com/js/jquery.min.js"></script>
  <!-- End layout styles -->
	<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/jquery.storageapi.js"></script>
	<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/jwt-decode.min.js"></script>
	<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/auth.js"></script>
    

<script>
var token = auth.getToken()
if(token == null)
{
window.location = "https://alxproject.virilesoftware.com/eportal/login"
}
else
{
var token = auth.getToken()
var payload = jwt_decode(token);
window.location = 'https://alxproject.virilesoftware.com/eportal/'+payload.username
}
</script>

</body>
</html>