<!DOCTYPE html>
<html lang="en">
  
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="School Management Software">
    <meta name="author" content="Syntax School Management Software">

    <title>Syntax School Management Software</title>

    <!-- vendor css -->
    <link href="https://alxproject.virilesoftware.com/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://alxproject.virilesoftware.com/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://alxproject.virilesoftware.com/lib/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="https://alxproject.virilesoftware.com/dist/slim.css">

    

  </head>
  <body>

    <div class="signin-wrapper">

      <div class="signin-box">
        <h2 class="slim-logo"><a href="https://alxproject.virilesoftware.com/eportal">Syntaxng<span>.</span></a></h2>
        <h2 class="signin-title-primary">Welcome back!</h2>
        <h3 class="signin-title-secondary">Sign in to continue.</h3>
        <h4 class="mg-b-0">Login ID: <span> Username: <b>admin</b> Password <b>123456</b></span></h4>
        <form class="forms-sample" method="post" id ="loginuser" validate>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter your login lD" name="email" data-rule-required="true" data-msg-required="Please Enter Login ID">
        </div><!-- form-group -->
        <div class="form-group mg-b-50">
          <input type="password" class="form-control" placeholder="Enter your password" name="password"data-rule-required="true" data-msg-required="Please enter password">
        </div><!-- form-group -->
        <button class="btn btn-primary btn-block btn-signin" id="load-submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Sign In</button>
        <p class="mg-b-0">Login ID: <span> Username: <b>admin</b> Password <b>123456</b></span></p>
        <p class="mg-b-0 d-none">Don't have an account? <a href="https://alxproject.virilesoftware.com/eportal/signup">Sign Up</a></p>
        </form>
      </div><!-- signin-box -->

    </div><!-- signin-wrapper -->

    <script src="https://alxproject.virilesoftware.com/lib/jquery/js/jquery.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/popper.js/js/popper.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://alxproject.virilesoftware.com/js/jquery.storageapi.js"></script>
    <script src="https://alxproject.virilesoftware.com/js/jwt-decode.min.js"></script>
	<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/auth.js"></script>
	<script src="https://alxproject.virilesoftware.com/js/jquery.validate.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/sweetalert/sweetalert.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/js/login.js"></script>

  </body>


</html>
