<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/icon/icofont/css/icofont.css">
      <link href="https://alxproject.virilesoftware.com/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://alxproject.virilesoftware.com//lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="https://alxproject.virilesoftware.com//lib/SpinKit/css/spinkit.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/lib/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/css/slim.css">
    
    <script type="text/javascript" src="https://alxproject.virilesoftware.com/dist/pdf-lib.js"></script>
    <script type="text/javascript" src="https://alxproject.virilesoftware.com/dist/fontkit.umd.js"></script>
 </head>

  <body>
  
  <div class="col-md-12 col-xl-12 mg-t-30" id="loading">
              <div class="d-flex bg-gray-200 ht-300 pos-relative align-items-center">
                <div class="sk-wave">
                  <div class="sk-rect sk-rect1 bg-gray-800"></div>
                  <div class="sk-rect sk-rect2 bg-gray-800"></div>
                  <div class="sk-rect sk-rect3 bg-gray-800"></div>
                  <div class="sk-rect sk-rect4 bg-gray-800"></div>
                  <div class="sk-rect sk-rect5 bg-gray-800"></div>
                </div>
              </div>
  
  <iframe id="pdf" class="d-none"></iframe>
  </body>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/jquery.min.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/jquery.storageapi.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/jwt-decode.min.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/auth.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/math.min.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/lib/moment/moment.min.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/result/studentreportcard.js"></script>
  <script>
    
  </script>
</html>