<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <title>Unauthorized - Syntax Management Software</title>

    <!-- Vendor css -->
    <link href="https://alxproject.virilesoftware.com/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://alxproject.virilesoftware.com/lib/Ionicons/css/ionicons.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/icon/icofont/css/icofont.css">
      <link href="https://alxproject.virilesoftware.com/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
      <link href="https://alxproject.virilesoftware.com/lib/Ionicons/css/ionicons.css" rel="stylesheet">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/lib/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/css/menu.css">
      <link href="https://alxproject.virilesoftware.com/css/select2.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/css/slim.css">

  </head>
  <body>

    <div class="page-error-wrapper">
      <div>
        <h3 class="error-title" style="font-size:40px">Unauthorized Page!</h3>
        <h5 class="tx-sm-24 tx-normal">Access denied, You dont have access to ths page contact you administrator.</h5>
        <p class="mg-b-50 mg-t-20"><a href="https://alxproject.virilesoftware.com/eportal" class="btn btn-error">Back to Home</a></p>
        <p class="error-footer">&copy; Copyright 2021. All Rights Reserved. Syntax School Management Software.</p>
      </div>

    </div><!-- page-error-wrapper -->

    <script src="https://alxproject.virilesoftware.com/lib/jquery/js/jquery.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/bootstrap/js/bootstrap.js"></script>

    

  </body>


</html>
